<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Twitter Bootstrap shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- Customize styles -->
    <link href="style.css" rel="stylesheet"/>
    <link href="styles_customed.css" rel="stylesheet"/>
    <!-- font awesome styles -->
	<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
	<!-- Favicons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
  </head>
<body ng-app="EshopApp" ng-controller="globalController">
<!-- 
	Upper Header Section 
-->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="topNav">
		<div class="container">
			<div class="alignR">
				<div class="pull-left socialNw">
					<a href="#"><span class="icon-twitter"></span></a>
					<a href="#"><span class="icon-facebook"></span></a>
					<a href="#"><span class="icon-youtube"></span></a>
					<a href="#"><span class="icon-tumblr"></span></a>
				</div>
				<mini-cart
						cart-items="myCart.getTotalCount()"
						cart-cost="myCart.getTotalCost()"
						currency-rates="currencyRates"
						currency="currency"
				></mini-cart>
			</div>
		</div>
	</div>
</div>

<!--
Lower Header Section 
-->
<div class="container">
	<div id="gototop"> </div>
	<header id="header">
		<div class="row">
			<div class="span4">
			<h1>
			<a class="logo" ui-sref="main"><span>Twitter Bootstrap ecommerce template</span>
				<img src="assets/img/logo-bootstrap-shoping-cart.png" alt="bootstrap sexy shop">
			</a>
			</h1>
			</div>
			<div class="span4">
				<form action="#" class="navbar-search pull-left">
					<input type="text" placeholder="Search" class="search-query span2">
				</form>
			</div>
			<div class="span4 alignR">
			<p><br> <strong> Support (24/7) :  0800 1234 678 </strong><br><br></p>
			<span class="btn btn-mini" ng-class="{'btn-warning': currency=='USD'}" ng-click="setCurrency('USD')">$</span>
			<span class="btn btn-mini" ng-class="{'btn-warning': currency=='GBP'}" ng-click="setCurrency('GBP')">&pound;</span>
			<span class="btn btn-mini" ng-class="{'btn-warning': currency=='EUR'}" ng-click="setCurrency('EUR')">&euro;</span>
			<span class="btn btn-mini" ng-class="{'btn-warning': currency=='RUB'}" ng-click="setCurrency('RUB')">RUB</span>
			</div>
		</div>
	</header>
		<hr />
	<div class="row">
		<div id="sidebar" class="span3">
			<category-list categories="categories"></category-list>
		</div>
		<div class="span9">
			<div ui-view></div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div><!-- /container -->

	<div class="copyright">
		<div class="container">
			<p class="pull-right">
				<a href="#"><img src="assets/img/maestro.png" alt="payment"></a>
				<a href="#"><img src="assets/img/mc.png" alt="payment"></a>
				<a href="#"><img src="assets/img/pp.png" alt="payment"></a>
				<a href="#"><img src="assets/img/visa.png" alt="payment"></a>
				<a href="#"><img src="assets/img/disc.png" alt="payment"></a>
			</p>
			<span>Copyright &copy; 2013<br> bootstrap ecommerce shopping template</span>
		</div>
	</div>
	<a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
	<script src="https://code.angularjs.org/1.4.8/angular-cookies.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/services/backend.js"></script>
	<script type="text/javascript" src="js/services/categories.js"></script>
	<script type="text/javascript" src="js/services/products.js"></script>
	<script type="text/javascript" src="js/services/cart.js"></script>
	<script type="text/javascript" src="js/services/currency.js"></script>
	<script type="text/javascript" src="js/controllers/mainPageController.js"></script>
	<script type="text/javascript" src="js/controllers/cartController.js"></script>
	<script type="text/javascript" src="js/controllers/categoryController.js"></script>
	<script type="text/javascript" src="js/controllers/productDetailController.js"></script>
	<script type="text/javascript" src="js/directives/categoryList/categoryList.js"></script>
	<script type="text/javascript" src="js/directives/productsGrid/productsGrid.js"></script>
	<script type="text/javascript" src="js/directives/minicart/minicart.js"></script>
	<script type="text/javascript" src="js/filters/objectsByKeyValue.js"></script>
	<script type="text/javascript" src="js/filters/currencyPrice.js"></script>
	<script type="text/javascript" src="js/filters/strCutTo.js"></script>
  </body>
</html>