#sidebar ul.nav-list ul {
    margin-left: 5px;
    padding-left: 10px;
    list-style: none;
}

div.product-list li.clearLeft {
    margin-left: 0;
}

div.thumbnail>a {
    height: 200px;
    overflow: hidden;
}

div.thumbnail>a img {
    max-height: 100%;
}

a.cartImage {
    display: block;
    width: 50px;
}

a.cartImage img {
    max-width: 100%;
}

td div.input-append {
    margin-top: 5px;
    margin-left: 5px;
}