<div class="well well-small">
    <h3 ng-show="title.length">{{title}}</h3>
    <hr class="soften"/>
    <div class="row-fluid product-list" ng-show="products.length">
        <ul class="thumbnails">
            <li class="span4" ng-repeat="product in products track by $index" ng-class="{'clearLeft': $index > 0 && $index % 3 == 0}">
                <div class="thumbnail">
                    <a ui-sref="product({'productId': product.id})"><img ng-src="assets/images/{{product.image}}" alt=""></a>
                    <div class="caption cntr">
                        <p>{{product.name | strCutTo:27}}</p>
                        <p><strong> {{product.price | currencyPrice:currency:currencyRates}}</strong></p>
                        <h4><a class="shopBtn" href="javascript:void(0);" ng-click="addToCart({'productId': product.id, 'price': product.price})" title="add to cart"> Add to cart </a></h4>
                        <br class="clr">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div ng-show="!products.length">
        No products in category.
    </div>
</div>