<div class="well well-small">
    <div ng-if="totalCount > 0">
        <h1>Check Out <small class="pull-right"> {{ totalCount }} Item(s) are in the cart </small></h1>
        <hr class="soften"/>
        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Unit price</th>
                <th>Qty </th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in cartData">
                <td><a ui-sref="product({'productId': item.id})" class="cartImage"><img ng-src="assets/images/{{item.image}}" /></a></td>
                <td>{{item.name}}</td>
                <td>{{ item.price | currencyPrice: currency: rates }}</td>
                <td>{{ item.quan }}
                    <div class="input-append">
                        <button class="btn btn-mini" type="button" ng-click="cartChangeQuantity(item.id, -1); collectCart()">-</button>
                        <button class="btn btn-mini" type="button" ng-click="cartChangeQuantity(item.id, 1); collectCart()"> + </button>
                        <button class="btn btn-mini btn-danger" type="button" ng-click="cartRemoveItem(item.id); collectCart()">
                            <span class="icon-remove"></span>
                        </button>
                    </div>
                </td>
                <td>{{ item.total | currencyPrice: currency: rates }}</td>
            </tr>
            </tbody>
        </table>
        <a href="javascript:void(0);" class="shopBtn btn-large" ng-click="cartClear(); collectCart(); doBuy()">Buy</a>
        <a href="javascript:void(0);" class="shopBtn btn-large pull-right" ng-click="cartClear(); collectCart();">Clear</a>
    </div>
    <div ng-if="totalCount == 0">
        <div ng-if="!showSuccessMessage">
            <h3 align="center">Cart is ampty</h3>
        </div>
        <div ng-if="showSuccessMessage">
            <h3 align="center"><p class="text-success">You purchase has been succesfully done!</p></h3>
        </div>
    </div>
</div>