<div class="well well-small">
    <div class="row-fluid">
        <div class="span5">
            <div id="myCarousel" class="carousel slide cntr">
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="#"> <img ng-src="assets/images/{{product.image}}" alt="" style="width:100%"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="span7">
            <h3>{{product.name}}</h3>
            <hr class="soft"/>

            <form class="form-horizontal qtyFrm">
                <div class="control-group">
                    <label class="control-label"><span>Price</span></label>
                    <label class="control-label"><span>{{ product.price | currencyPrice : currency: rates }}</span></label>
                </div>

                <div class="control-group">
                    <label class="control-label"><span>Category</span></label>
                    <label class="control-label"><span>{{ category.name }}</span></label>
                </div>
                <div class="control-group">
                    <label class="control-label"><span>Article</span></label>
                    <label class="control-label"><span>{{ product.id }}</span></label>
                </div>
                <p class="description">
                    {{ product.description }}
                <p>
                    <button class="shopBtn" ng-click="addToCart(product.id, product.price)"><span class=" icon-shopping-cart"></span> Add to cart</button>
            </form>
        </div>
    </div>
    <hr class="softn clr"/>
</div>

