<a ui-sref="cart" ng-if="cartItems > 0">
    <span class="icon-shopping-cart"></span> {{cartItems}} Item(s) - <span class="badge badge-warning"> {{ cartCost | currencyPrice: currency : currencyRates}}</span>
</a>
<a ng-if="cartItems == 0" href="javascript: void(0);"><span class="icon-shopping-cart"> </span>Cart empty.</a>