<div class="well well-small">
    <ul class="nav nav-list">
        <li ng-repeat="category in categories">
            <a ui-sref="category({'catId': category.id})"><span class="icon-chevron-right">{{category.name}}</a>
            <sub-categories nodes="category.nodes"></sub-categories>
        </li>
    </ul>
</div>