<ul class="submenu" ng-if="nodes">
    <li ng-repeat="category in nodes">
        <a ui-sref="category({'catId': category.id})">{{category.name}}</a>
        <sub-categories ng-if="category.nodes" nodes="category.nodes"></sub-categories>
    </li>
</ul>